@import '../../resources/scss/variables';

.wrapper {

  position: sticky;
  display: flex;
  top: 0;
  background: $headerColor;
  z-index: 1;
  border-bottom: $headerBorder;

  .con {
    display: flex;
    height: 52px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;


    a {
      button {
        margin: 0px .3em;
        border-radius: 5px;
        border: 1px solid beige;
        padding: 0.5em;
        background: gainsboro;
      }
    }
  }
}