.addPost {
  display: flex;
  justify-content: center;
  text-align: center;

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    max-width: 100%;

    textarea {
      background: beige;
    }

    input {
      background: aliceblue;
    }

    button {
      background: royalblue;
      padding: 0.5em 1em;
      width: 10em;
      align-self: center;
    }
  }
}