.postInfo {
  padding: 8px 16px;

  .icons {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;

      .likeButton {
        background: white;
        margin-right: 1em;

        &.liked {
          background: darkgrey;
          border-radius: 5px;
          padding: 0.3em 1em;
        }
      }
    }
  }

  .likes {
    display: flex;
    font-weight: 600;
  }

  .info {

    .showMoreComments {
      display: flex;
      color: #999;
      font-weight: 500;
      border: 0;
      padding: 0;
    }

    .commentsPanel {
      .comment {
        display: block;
        text-align: left;

        .author {
          margin-right: 10px;
          font-weight: 600;
        }
      }

      .addComment {
        display: flex;
        justify-content: space-between;

        textarea {
          background: 0 0;
          border: 0;
          color: #262626;
          font-size: inherit;
          width: 100%;
          max-height: 80px;
          outline: 0;
          padding: 0;
          resize: none;
        }

        div {
          button {
            border: 0;
            color: #3897f0;
            font-weight: 600;
          }
        }
      }
    }
  }
}